/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
|--------------------------------------------------------------------------
| Media query shortcuts
|--------------------------------------------------------------------------
*/
@font-face {
  font-family: "Museo 300";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/museo_300.eot");
  src: url("../fonts/museo_300.eot?#iefix") format("embedded-opentype"), url("../fonts/museo_300.woff") format("woff"), url("../fonts/museo_300.ttf") format("truetype"), url("../fonts/museo_300.svg#Museo 300") format("svg"); }

@font-face {
  font-family: "Museo 500";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/museo_500.eot");
  src: url("../fonts/museo_500.eot?#iefix") format("embedded-opentype"), url("../fonts/museo_500.woff") format("woff"), url("../fonts/museo_500.ttf") format("truetype"), url("../fonts/museo_500.svg#Museo 500") format("svg"); }

@font-face {
  font-family: "Museo Sans 100";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/museo_sans_100.eot");
  src: url("../fonts/museo_sans_100.eot?#iefix") format("embedded-opentype"), url("../fonts/museo_sans_100.woff") format("woff"), url("../fonts/museo_sans_100.ttf") format("truetype"), url("../fonts/museo_sans_100.svg#Museo Sans 100") format("svg"); }

@font-face {
  font-family: "Museo Sans 500";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/museo_sans_500.eot");
  src: url("../fonts/museo_sans_500.eot?#iefix") format("embedded-opentype"), url("../fonts/museo_sans_500.woff") format("woff"), url("../fonts/museo_sans_500.ttf") format("truetype"), url("../fonts/museo_sans_500.svg#Museo Sans 500") format("svg"); }

@font-face {
  font-family: "Museo Sans 900";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/museo_sans_900.eot");
  src: url("../fonts/museo_sans_900.eot?#iefix") format("embedded-opentype"), url("../fonts/museo_sans_900.woff") format("woff"), url("../fonts/museo_sans_900.ttf") format("truetype"), url("../fonts/museo_sans_900.svg#Museo Sans 900") format("svg"); }

.center {
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden; }
  @media (min-width: 0px) and (max-width: 1000px) {
    .center {
      padding: 0 20px; } }

.introduction {
  background: #19242f; }
  .introduction .logo {
    display: block; }
    .introduction .logo img {
      width: 100%;
      height: auto; }
    @media screen and (max-width: 499px) {
      .introduction .logo {
        margin: 35px auto 0 auto;
        width: 230px; } }
    @media screen and (min-width: 500px) {
      .introduction .logo {
        margin: 70px auto 0 auto;
        width: 270px; } }
  .introduction h1 {
    margin: 30px auto 15px auto;
    max-width: 850px;
    color: #ff4043;
    -webkit-font-smoothing: antialiased;
    font-family: "Museo 300";
    font-size: 30px;
    line-height: 136%;
    font-weight: normal;
    text-align: center; }
    @media screen and (max-width: 499px) {
      .introduction h1 {
        font-size: 25px;
        margin: 20px auto 15px auto; } }
  .introduction ul {
    list-style: none;
    margin: 0 0 70px 0;
    padding: 0; }
    @media screen and (max-width: 499px) {
      .introduction ul {
        margin: 0 0 35px 0; } }
    .introduction ul li {
      color: #d7dadb;
      font-family: "Museo 300";
      font-size: 17px;
      line-height: 150%;
      font-weight: normal;
      text-align: center; }
      .introduction ul li a {
        color: #a5a5a5;
        text-decoration: none; }
        .introduction ul li a:hover {
          text-decoration: underline; }

.packages {
  background: #6abcdd; }
  .packages h2 {
    margin: 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-family: "Museo Sans 100";
    font-size: 50px;
    line-height: 100%;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase; }
  .packages ul {
    list-style: none;
    padding: 0; }
    .packages ul li {
      *zoom: 1;
      padding: 8px 0;
      color: #2b3e51;
      font-family: "Museo Sans 500";
      font-size: 16px;
      line-height: 100%; }
      .packages ul li:before, .packages ul li:after {
        content: " ";
        display: table; }
      .packages ul li:after {
        clear: both; }
      .packages ul li:not(.headers) {
        border-top: dotted 1px #5a9eba; }
      .packages ul li .name {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        width: 30%;
        padding: 0 7px; }
      .packages ul li .description {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        width: 50%;
        padding: 0 7px; }
      .packages ul li .project_lead {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        width: 20%;
        padding: 0 7px; }
      .packages ul li h3 {
        margin: 0;
        color: white;
        -webkit-font-smoothing: antialiased;
        font-family: "Museo Sans 500";
        font-size: 16px;
        line-height: 100%;
        font-weight: normal;
        text-transform: uppercase; }
  .packages .work_in_progress {
    color: white;
    -webkit-font-smoothing: antialiased;
    font-family: "Museo Sans 500";
    font-size: 16px;
    line-height: 100%;
    font-weight: normal;
    text-align: center; }
  @media screen and (max-width: 499px) {
    .packages {
      padding: 35px 0; }
      .packages ul li {
        padding: 15px 0;
        text-align: center; }
        .packages ul li.headers {
          display: none; }
        .packages ul li .name,
        .packages ul li .description,
        .packages ul li .project_lead {
          float: none;
          width: 100%; }
        .packages ul li .name {
          margin: 0 0 10px 0; }
          .packages ul li .name a {
            color: white;
            -webkit-font-smoothing: antialiased;
            font-size: 22px;
            text-decoration: none; }
            .packages ul li .name a:hover {
              text-decoration: underline; }
        .packages ul li .project_lead {
          margin: 10px 0 0 0;
          color: #437a90;
          font-size: 14px; }
          .packages ul li .project_lead a {
            color: #437a90;
            text-decoration: none; }
            .packages ul li .project_lead a:hover {
              text-decoration: underline; }
          .packages ul li .project_lead:before {
            content: "Project lead by "; } }
  @media screen and (min-width: 500px) {
    .packages {
      padding: 75px 0 50px 0; }
      .packages ul {
        margin: 50px 0 35px 0; }
        .packages ul li a {
          color: #2b3e51;
          text-decoration: none; }
          .packages ul li a:hover {
            text-decoration: underline; }
        .packages ul li:hover:not(.headers) {
          background: #97d0e7;
          border-radius: 2px;
          border-top-color: transparent; }
          .packages ul li:hover:not(.headers) a {
            text-decoration: underline; }
            .packages ul li:hover:not(.headers) a:hover {
              color: white; }
          .packages ul li:hover:not(.headers) + li {
            border-top-color: transparent; } }
    @media screen and (min-width: 500px) and (max-width: 699px) {
      .packages {
        padding: 50px 0 35px 0; } }
      @media screen and (min-width: 500px) and (min-width: 500px) and (max-width: 700px) {
        .packages ul li {
          font-size: 15px; }
          .packages ul li .project_lead h3 span {
            display: none; } }

.quality {
  background: #eff0f1; }
  .quality .column.one h2 {
    margin: 0;
    color: #ff4043;
    -webkit-font-smoothing: antialiased;
    font-family: "Museo Sans 100";
    font-size: 50px;
    line-height: 115%;
    font-weight: normal;
    text-transform: uppercase; }
  .quality .column.one .description {
    margin: 15px 0 25px 0;
    color: #676767;
    font-family: "Museo 300";
    font-size: 18px;
    line-height: 160%; }
  .quality .column.one .skeleton_project a {
    display: inline-block;
    padding: 13px 15px;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-family: "Museo Sans 900";
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    background: #ff5759;
    border-radius: 4px;
    box-shadow: 3px 3px 0 #d42f30; }
    .quality .column.one .skeleton_project a:hover {
      background: #e75557;
      box-shadow: 3px 3px 0 #b52829; }
    .quality .column.one .skeleton_project a:active {
      position: relative;
      left: 3px;
      top: 3px;
      box-shadow: none; }
  .quality .column.two ol {
    margin: 0; }
    .quality .column.two ol li {
      margin: 0 0 15px 0;
      color: #676767;
      -webkit-font-smoothing: antialiased;
      font-family: "Museo 500";
      font-size: 24px;
      line-height: 100%; }
      .quality .column.two ol li p {
        margin: 0;
        color: #ff4043;
        -webkit-font-smoothing: auto;
        font-family: "Museo 300";
        font-size: 18px;
        line-height: 140%; }
        .quality .column.two ol li p a {
          color: #ff4043; }
        .quality .column.two ol li p code {
          padding: 0 3px;
          color: #c33637;
          background: white;
          border-radius: 2px; }
  @media screen and (max-width: 699px) {
    .quality {
      padding: 50px 0 35px 0; }
      .quality .column.one h2 {
        text-align: center; }
      .quality .column.one .skeleton_project {
        margin: 0 0 35px 0;
        text-align: center; } }
    @media screen and (max-width: 699px) and (max-width: 499px) {
      .quality {
        padding: 35px 0 25px 0; } }
      @media screen and (max-width: 699px) and (max-width: 350px) {
        .quality .column.one h2 {
          font-size: 49px; } }
  @media screen and (min-width: 700px) {
    .quality {
      padding: 70px 0 45px 0; }
      .quality .column.one {
        float: left;
        width: 45%;
        margin: 0 10% 0 0; }
      .quality .column.two {
        float: left;
        width: 45%; } }

.why {
  background: #2b3d51; }
  .why h2 {
    margin: 0 0 10px 0;
    color: #6abcdd;
    -webkit-font-smoothing: antialiased;
    font-family: "Museo Sans 100";
    font-size: 50px;
    line-height: 100%;
    font-weight: normal;
    text-transform: uppercase; }
  .why .column p {
    color: #d7dadb;
    font-family: "Museo 300";
    font-size: 18px;
    line-height: 140%; }
  .why .column blockquote {
    margin-left: 0;
    color: #6abcdd;
    font-family: "Museo Sans 500";
    font-size: 18px;
    line-height: 140%; }
  @media screen and (max-width: 699px) {
    .why {
      padding: 50px 0 35px 0; }
      .why h2 {
        text-align: center; } }
    @media screen and (max-width: 699px) and (max-width: 499px) {
      .why {
        padding: 35px 0 25px 0; } }
  @media screen and (min-width: 700px) {
    .why {
      padding: 60px 0 50px 0; }
      .why .column {
        float: left;
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        .why .column.one {
          padding: 0 25px 0 0; }
        .why .column.two {
          padding: 0 0 0 25px; } }

.invitation {
  background: #b73234; }
  .invitation img {
    display: block;
    margin: 0 auto;
    width: 125px; }
  .invitation h2 {
    margin: 25px 0 0 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-family: "Museo Sans 100";
    font-size: 50px;
    line-height: 100%;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center; }
  .invitation h3 {
    margin: 15px 0 0 0;
    color: #ff7173;
    font-family: "Museo 300";
    font-size: 24px;
    line-height: 100%;
    font-weight: normal;
    text-align: center; }
  .invitation .column h4 {
    margin: 45px 0 10px 0;
    color: #ff7173;
    -webkit-font-smoothing: antialiased;
    font-family: "Museo Sans 500";
    font-size: 20px;
    line-height: 100%;
    font-weight: normal;
    text-transform: uppercase; }
    .invitation .column h4 + p {
      margin-top: 0; }
  .invitation .column p {
    color: white;
    font-family: "Museo 300";
    font-size: 18px;
    line-height: 140%; }
  @media screen and (max-width: 699px) {
    .invitation {
      padding: 50px 0; } }
    @media screen and (max-width: 699px) and (max-width: 499px) {
      .invitation {
        padding: 35px 0 25px 0; } }
  @media screen and (min-width: 700px) {
    .invitation {
      padding: 70px 0; }
      .invitation .column {
        float: left;
        width: 50%;
        margin: 25px 0 0 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        .invitation .column.one {
          padding: 0 25px 0 0; }
        .invitation .column.two {
          padding: 0 0 0 25px; } }
