.center
{
    margin: 0 auto;
    max-width: 1000px;
    @include clearfix;

    @media (min-width: 0px) and (max-width: 1000px)
    {
        padding: 0 20px;
    }
}

.introduction
{
    background: #19242f url(../img/banner_bg.png) no-repeat center top;
    background-size: cover;
    @include clearfix;

    .toolbar
    {
        background: rgba(#151c22, .5);
        -webkit-font-smoothing: antialiased;
        font-family: "Museo Sans 900";
        color: #8c8c8c;
        font-size: 13px;
        line-height: 1;
        text-transform: uppercase;
        @include clearfix;

        .menu
        {
            list-style: none;
            margin: 25px 0 0 0;
            padding: 0;
            @include clearfix;

            > li
            {
                float: left;
                margin: 0 25px 0 0;

                a
                {
                    color: #8c8c8c;
                    text-decoration: none;

                    &:hover
                    {
                        color: white;
                    }
                }
            }
        }

        .links_and_languages
        {
            list-style: none;
            margin: 0;
            padding: 0;
            @include clearfix;

            > li
            {
                float: left;

                &.github,
                &.twitter
                {
                    a
                    {
                        display: block;
                        text-indent: -9999px;
                        background-size: 100% auto;
                        background-position: center top;
                        height: 20px;

                        &:hover
                        {
                            background-position: center bottom;
                        }
                    }
                }

                &.github
                {
                    margin: 22px 10px 0 0;

                    a
                    {
                        width: 21px;
                        background-image: url(../img/github.png);
                    }
                }

                &.twitter
                {
                    margin: 22px 15px 0 0;

                    a
                    {
                        width: 24px;
                        background-image: url(../img/twitter.png);
                    }
                }

                &.languages
                {
                    position: relative;
                    margin: 25px 0 0 0;

                    input
                    {
                        position: absolute;
                        top: -9999px;
                        left: -9999px;
                    }

                    label
                    {
                        position: relative;
                        z-index: 2000;
                        user-select: none;
                        cursor: pointer;

                        strong
                        {
                            color: #c6c6c6;
                            font-weight: normal;
                        }
                    }

                    input:checked + .languages_menu
                    {

                        label,
                        strong
                        {
                            color: white;
                        }

                        ul
                        {
                            display: block;
                        }
                    }

                    ul
                    {
                        display: none;
                        position: absolute;
                        top: -10px;
                        left: -7px;
                        z-index: 1000;
                        list-style: none;
                        margin: 0;
                        padding: 35px 7px 15px 7px;
                        width: 100%;
                        background: #6abcdd;

                        li
                        {
                            padding: 8px 15px;
                            font-family: "Museo Sans 500";
                            -webkit-font-smoothing: antialiased;
                            font-size: 14px;
                            line-height: 1;
                            font-weight: normal;
                            text-align: center;
                            text-transform: none;
                            border-top: solid 1px lighten(#6abcdd, 10%);

                            &:last-child
                            {
                                border-bottom: solid 1px lighten(#6abcdd, 10%);
                            }

                            a
                            {
                                color: darken(#6abcdd, 35%);
                                text-decoration: none;

                                &:hover
                                {
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 599px)
        {
            padding: 25px 0;

            .menu
            {
                margin: 0;

                > li
                {
                    box-sizing: border-box;
                    width: 50%;
                    margin: 0;
                    padding: 4px 0;
                    text-align: center;
                    border-right: dotted 1px #8c8c8c;
                    border-bottom: dotted 1px #8c8c8c;

                    &:nth-child(2),
                    &:nth-child(4)
                    {
                        border-right: 0;
                    }

                    &:nth-child(3),
                    &:nth-child(4)
                    {
                        border-bottom: 0;
                    }
                }
            }

            .links_and_languages
            {

                text-align: center;

                > li
                {
                    float: none;
                    margin: 0 2px;
                    display: inline-block;
                }
            }
        }

        @media screen and (min-width: 600px) and (max-width: 650px)
        {
            .menu
            {
                > li
                {
                    margin: 0 15px 0 0;
                }
            }
        }

        @media screen and (min-width: 600px)
        {
            height: 60px;

            .menu
            {
                float: left;
            }

            .links_and_languages
            {
                float: right;
            }
        }
    }

    .logo
    {
        display: block;

        img
        {
            width: 100%;
            height: auto;
        }

        @media screen and (max-width: 499px)
        {
            margin: 35px auto 0 auto;
            width: 230px;
        }

        @media screen and (min-width: 500px)
        {
            margin: 90px auto 0 auto;
            width: 270px;
        }
    }

    h1
    {
        margin: 30px auto 0 auto;
        max-width: 1000px;
        color: #ff4043;
        -webkit-font-smoothing: antialiased;
        font-family: "Museo 300";
        font-size: 36px;
        line-height: 136%;
        font-weight: normal;
        text-align: center;

        @media screen and (max-width: 499px)
        {
            font-size: 25px;
            margin: 20px auto 15px auto;
        }
    }

    .stars
    {
        display: block;
        margin: 27px 0 0 0;
        color: white;
        font-size: 20px;
        letter-spacing: .8em;
        text-align: center;
    }

    .features
    {
        list-style: none;
        margin: 22px 0 110px 0;
        padding: 0;

        @media screen and (max-width: 499px)
        {
            margin: 22px 0 35px 0;
        }

        li
        {
            color: #d7dadb;
            font-family: "Museo 300";
            font-size: 18px;
            line-height: 150%;
            font-weight: normal;
            text-align: center;

            a
            {
                color: #a5a5a5;
                white-space: nowrap;
                text-decoration: none;

                &:hover
                {
                    text-decoration: underline;
                }
            }
        }
    }
}

.packages
{
    background: #6abcdd;

    h2
    {
        margin: 0;
        color: white;
        -webkit-font-smoothing: antialiased;
        font-family: "Museo Sans 100";
        font-size: 50px;
        line-height: 100%;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
    }

    ul
    {
        list-style: none;
        padding:  0;

        li
        {
            @include clearfix;
            padding: 8px 0;
            color: #2b3e51;
            font-family: "Museo Sans 500";
            font-size: 16px;
            line-height: 100%;

            &:not(.headers)
            {
                border-top: dotted 1px #5a9eba;
            }

            .name
            {
                box-sizing: border-box;
                float: left;
                width: 25%;
                padding: 0 7px;
            }

            .description,
            {
                box-sizing: border-box;
                float: left;
                width: 50%;
                padding: 0 7px;
            }

            .project_lead
            {
                box-sizing: border-box;
                float: left;
                width: 25%;
                padding: 0 7px;

                &.seeking
                {
                    a
                    {
                        color: lighten(#6abcdd, 25%);
                        font-size: 14px;
                        line-height: 100%;
                        text-transform: uppercase;
                    }

                    &:before
                    {
                        display: none;
                    }
                }
            }

            h3
            {
                margin: 0;
                color: white;
                -webkit-font-smoothing: antialiased;
                font-family: "Museo Sans 500";
                font-size: 16px;
                line-height: 100%;
                font-weight: normal;
                text-transform: uppercase;
            }
        }
    }

    .work_in_progress
    {
        color: white;
        -webkit-font-smoothing: antialiased;
        font-family: "Museo Sans 500";
        font-size: 16px;
        line-height: 100%;
        font-weight: normal;
        text-align: center;
    }

    @media screen and (max-width: 499px)
    {
        padding: 35px 0;

        ul
        {
            li
            {
                padding: 15px 0;
                text-align: center;

                &.headers
                {
                    display: none;
                }

                .name,
                .description,
                .project_lead
                {
                    float: none;
                    width: 100%;
                }

                .name
                {
                    margin: 0 0 10px 0;

                    a
                    {
                        color: white;
                        -webkit-font-smoothing: antialiased;
                        font-size: 22px;
                        text-decoration: none;

                        &:hover
                        {
                            text-decoration: underline;
                        }
                    }
                }

                .project_lead
                {
                    margin: 10px 0 0 0;
                    color: #437a90;
                    font-size: 14px;

                    a
                    {
                        color: #437a90;
                        text-decoration: none;

                        &:hover
                        {
                            text-decoration: underline;
                        }
                    }

                    &:before
                    {
                        content: "Project lead by "
                    }
                }
            }
        }
    }

    @media screen and (min-width: 500px)
    {
        padding: 85px 0;

        @media screen and (max-width: 699px)
        {
            padding: 50px 0 35px 0;
        }

        ul
        {
            margin: 50px 0 35px 0;

            li
            {
                @media (min-width: 500px) and (max-width: 700px)
                {
                    font-size: 15px;

                    .project_lead
                    {
                        h3
                        {
                            span
                            {
                                display: none;
                            }
                        }
                    }
                }

                a
                {
                    color: #2b3e51;
                    text-decoration: none;

                    &:hover
                    {
                        text-decoration: underline;
                    }
                }

                &:hover:not(.headers)
                {
                    background: #97d0e7;
                    border-radius: 2px;
                    border-top-color: transparent;

                    a
                    {
                        text-decoration: underline;

                        &:hover
                        {
                            color: white;
                        }
                    }

                    &+li
                    {
                        border-top-color: transparent;
                    }
                }
            }
        }
    }
}

.quality
{
    background: #eff0f1;

    .column.one
    {
        h2
        {
            margin: 0;
            color: #ff4043;
            -webkit-font-smoothing: antialiased;
            font-family: "Museo Sans 100";
            font-size: 50px;
            line-height: 115%;
            font-weight: normal;
            text-transform: uppercase;
        }

        .description
        {
            margin: 15px 0 25px 0;
            color: #676767;
            font-family: "Museo 300";
            font-size: 18px;
            line-height: 160%;
        }

        .skeleton_project
        {
            a
            {
                display: inline-block;
                padding: 13px 15px;
                color: white;
                -webkit-font-smoothing: antialiased;
                font-family: "Museo Sans 900";
                font-size: 14px;
                line-height: 100%;
                text-transform: uppercase;
                text-decoration: none;
                background: #ff5759;
                border-radius: 4px;
                box-shadow: 3px 3px 0 #d42f30;

                &:hover
                {
                    background: #e75557;
                    box-shadow: 3px 3px 0 #b52829;
                }

                &:active
                {
                    position: relative;
                    left: 3px;
                    top: 3px;
                    box-shadow: none;
                }
            }
        }
    }

    .column.two
    {
        ol
        {
            margin: 0;

            li
            {
                margin: 0 0 15px 0;
                color: #676767;
                -webkit-font-smoothing: antialiased;
                font-family: "Museo 500";
                font-size: 24px;
                line-height: 100%;

                p
                {
                    margin: 0;
                    color: #ff4043;
                    -webkit-font-smoothing: auto;
                    font-family: "Museo 300";
                    font-size: 18px;
                    line-height: 140%;

                    a
                    {
                        color: #ff4043;

                        &:hover
                        {
                            color: #c33637;
                        }
                    }

                    code
                    {
                        padding: 0 3px;
                        color: #c33637;
                        background: white;
                        border-radius: 2px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 699px)
    {
        padding: 50px 0 35px 0;

        @media screen and (max-width: 499px)
        {
            padding: 35px 0 25px 0;
        }

        .column.one
        {
            h2
            {
                text-align: center;

                @media screen and (max-width: 350px)
                {
                    font-size: 49px;
                }
            }

            .skeleton_project
            {
                margin: 0 0 35px 0;
                text-align: center;
            }
        }
    }

    @media screen and (min-width: 700px)
    {
        padding: 85px 0 65px 0;

        .column.one
        {
            float: left;
            width: 45%;
            margin: 0 10% 0 0;
        }

        .column.two
        {
            float: left;
            width: 45%;
        }
    }
}

.why
{
    background: #2b3d51;

    h2
    {
        margin: 0 0 10px 0;
        color: #6abcdd;
        -webkit-font-smoothing: antialiased;
        font-family: "Museo Sans 100";
        font-size: 50px;
        line-height: 100%;
        font-weight: normal;
        text-transform: uppercase;
    }

    .column
    {
        p
        {
            color: #d7dadb;
            font-family: "Museo 300";
            font-size: 18px;
            line-height: 140%;
        }

        blockquote
        {
            margin-left: 0;
            color: #6abcdd;
            font-family: "Museo Sans 500";
            font-size: 18px;
            line-height: 140%;
        }
    }

    @media screen and (max-width: 699px)
    {
        padding: 50px 0 35px 0;

        @media screen and (max-width: 499px)
        {
            padding: 35px 0 25px 0;
        }

        h2
        {
            text-align: center;
        }
    }

    @media screen and (min-width: 700px)
    {
        padding: 85px 0;

        .column
        {
            float: left;
            width: 50%;
            box-sizing: border-box;

            &.one
            {
                padding: 0 25px 0 0;
            }

            &.two
            {
                padding: 0 0 0 25px;
            }
        }
    }
}

.invitation
{
    background: #b73234;

    img
    {
        display: block;
        margin: 0 auto;
        width: 90px;
        height: auto;
    }

    h2
    {
        margin: 25px 0 0 0;
        color: white;
        -webkit-font-smoothing: antialiased;
        font-family: "Museo Sans 100";
        font-size: 50px;
        line-height: 100%;
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;
    }

    h3
    {
        margin: 15px 0 0 0;
        color: #ff7173;
        font-family: "Museo 300";
        font-size: 24px;
        line-height: 100%;
        font-weight: normal;
        text-align: center;
    }

    .column
    {
        h4
        {
            margin: 45px 0 10px 0;
            color: #ff7173;
            -webkit-font-smoothing: antialiased;
            font-family: "Museo Sans 500";
            font-size: 20px;
            line-height: 100%;
            font-weight: normal;
            text-transform: uppercase;

            &+p
            {
                margin-top: 0;
            }
        }

        p
        {
            color: white;
            font-family: "Museo 300";
            font-size: 18px;
            line-height: 140%;
        }

        a
        {
            color: white;
            text-decoration: underline;

            &:hover
            {
                color: lighten(#ff7173, 15%);
            }
        }
    }

    @media screen and (max-width: 699px)
    {
        padding: 50px 0;

        @media screen and (max-width: 499px)
        {
            padding: 35px 0 25px 0;
        }
    }

    @media screen and (min-width: 700px)
    {
        padding: 85px 0;

        .column
        {
            float: left;
            width: 50%;
            margin: 25px 0 0 0;
            box-sizing: border-box;

            &.one
            {
                padding: 0 25px 0 0;
            }

            &.two
            {
                padding: 0 0 0 25px;
            }
        }
    }
}

.footer
{
    padding: 30px 0 35px 0;
    font-family: "Museo Sans 500";
    -webkit-font-smoothing: antialiased;
    color: #ff7173;
    font-size: 14px;
    line-height: 1;
    font-weight: normal;
    text-align: center;
    background: darken(#b73234, 15%);

    span
    {
        display: inline-block;
        margin: 0 0 5px 0;
    }

    a
    {
        color: #ff7173;
        text-decoration: underline;

        &:hover
        {
            color: white;
        }
    }
}