{% assign data = site.data.[page.language] %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ data.name }}</title>
    <meta name="description" content="{{ data.meta_description }}">
    <meta property="og:title" content="{{ data.name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://thephpleague.com" />
    <meta property="og:image" content="http://thephpleague.com/img/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/all.css">
</head>
<body>

<div class="introduction">
    <div class="toolbar">
        <div class="center">
            <ul class="menu">
                <li>
                    <a href="#{{ data.menu.packages.link }}">
                        {{ data.menu.packages.title }}
                    </a>
                </li>
                <li>
                    <a href="#{{ data.menu.quality.link }}">
                        {{ data.menu.quality.title }}
                    </a>
                </li>
                <li>
                    <a href="#{{ data.menu.why.link }}">
                        {{ data.menu.why.title }}
                    </a>
                </li>
                <li>
                    <a href="#{{ data.menu.contribute.link }}">
                        {{ data.menu.contribute.title }}
                    </a>
                </li>
            </ul>
            <ul class="links_and_languages">
                <li class="github">
                    <a href="https://github.com/thephpleague">
                        GitHub
                    </a>
                </li>
                <li class="twitter">
                    <a href="https://twitter.com/thephpleague">
                        Twitter
                    </a>
                </li>
                <li class="languages">
                    <input id="languages_menu" type="checkbox">
                    <div class="languages_menu">
                        <label for="languages_menu">
                            {{ data.languages.title }}: <strong>{{ data.languages.current }}</strong>
                        </label>
                        <ul>
                            {% assign pages = (site.pages | sort: 'language') %}
                            {% for p in pages %}
                                {% if p.language and p.url != page.url %}
                                    <li>
                                        <a href="{{ p.url }}">
                                            {{ site.data.[p.language].languages.current }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="center">
        <a href="" class="logo">
            <img src="/img/logo.png" alt="{{ data.name }}" width="270" height="279">
        </a>
        <h1>
            {{ data.intro.description }}
        </h1>
        <span class="stars">
            &#9733;&#9733;&#9733;
        </span>
        <ul class="features">
            <li>
                {{ data.intro.feature_1 }}
            </li>
            <li>
                {{ data.intro.feature_2 }}
            </li>
            <li>
                {{ data.intro.feature_3 }}
            </li>
        </ul>
    </div>
</div>

<div class="packages" id="{{ data.menu.packages.link }}">
    <div class="center">
        <h2>
            {{ data.packages.title }}
        </h2>
        <ul>
            <li class="headers">
                <div class="name">
                    <h3>
                        {{ data.packages.project.name }}
                    </h3>
                </div>
                <div class="description">
                    <h3>
                        {{ data.packages.project.description }}
                    </h3>
                </div>
                <div class="project_lead">
                    <h3>
                        {{ data.packages.project.lead }}
                    </h3>
                </div>
            </li>
            {% for package in data.packages.existing %}
                <li>
                    <div class="name">
                        <a href="{{ package.website }}">
                            {{ package.name }}
                        </a>{% unless package.complete %}*{% endunless %}
                    </div>
                    <div class="description">
                        {{ package.description }}
                    </div>
                    {% if package.author.seeking %}
                        <div class="project_lead seeking">
                            <a href="{{ package.author.seeking }}">
                                {{ data.packages.project.seeking_lead }}
                            </a>
                        </div>
                    {% else %}
                        <div class="project_lead">
                            <a href="https://github.com/{{ package.author.username }}">
                                {{ package.author.name }}
                            </a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <div class="work_in_progress">
            * {{ data.packages.footnote }}
        </div>
    </div>
</div>

<div class="quality" id="{{ data.menu.quality.link }}">
    <div class="center">
        <div class="column one">
            <h2>
                {{ data.quality.title }}
            </h2>
            <div class="description">
                {{ data.quality.introduction }}
            </div>
            <div class="skeleton_project">
                <a href="https://github.com/thephpleague/skeleton">
                    {{ data.quality.button }}
                </a>
            </div>
        </div>
        <div class="column two">
            <ol>
                {% for rule in data.quality.rules %}
                    <li>
                        <p>
                            {{ rule }}
                        </p>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>

<div class="why" id="{{ data.menu.why.link }}">
    <div class="center">
        <h2>
            {{ data.why.title }}
        </h2>
        <div class="column one">
            <p>
                {{ data.why.paragraph_1 }}
            </p>
            <blockquote>
                {{ data.why.blockquote }}
            </blockquote>
            <p>
                {{ data.why.paragraph_2 }}
            </p>
        </div>
        <div class="column two">
            <p>
                {{ data.why.paragraph_3 }}
            </p>
        </div>
    </div>
</div>

<div class="invitation" id="{{ data.menu.contribute.link }}">
    <div class="center">
        <img src="/img/heart.png" alt="Heart" width="100" height="100">
        <h2>
            {{ data.contribute.title }}
        </h2>
        <h3>
            {{ data.contribute.subtitle }}
        </h3>
        <div class="column one">
            <h4>
                {{ data.contribute.block_1_title }}
            </h4>
            <p>
                {{ data.contribute.block_1_paragraph }}
            </p>
            <h4>
                {{ data.contribute.block_2_title }}
            </h4>
            <p>
                {{ data.contribute.block_2_paragraph }}
            </p>
        </div>
        <div class="column two">
            <h4>
                {{ data.contribute.block_3_title }}
            </h4>
            <p>
                {{ data.contribute.block_3_paragraph }}
            </p>
            <h4>
                {{ data.contribute.block_4_title }}
            </h4>
            <p>
                {{ data.contribute.block_4_paragraph }}
            </p>
        </div>
    </div>
</div>

<div class="footer">
    <div class="center">
        <span>
            &copy; {{ data.copyright.notice }}
        </span>
        <span>
            {{ data.copyright.design_by }} <a href="http://reinink.ca">Jonathan Reinink</a>.
        </span>
        {% if data.copyright.translation_by_name %}
            {% if data.copyright.translation_by_website %}
                <span>
                    {{ data.copyright.translation_by }} <a href="{{ data.copyright.translation_by_website }}">{{ data.copyright.translation_by_name }}</a>.
                </span>
            {% else %}
                <span>
                    {{ data.copyright.translation_by }} {{ data.copyright.translation_by_name }}.
                </span>
            {% endif %}
        {% endif %}
    </div>
</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46050814-1');
    ga('send', 'pageview');
</script>

</body>
</html>
